

.button {

  background-color: var(--color-background);
  border-radius: 5px;
  border: 1px solid var(--color-border);
  color: var(--color-text);

  padding:8px 15px;
  font: var(-font-size-text);
  font-weight: var(--font-weight-normal);
}

.button--primary {
  background-color: var(--cor-texto);
  color: white;
  border: none;
}

.button--secondary {
  background-color: transparent;
  color: var(--cor-texto);
  border: 1px solid var(--cor-texto);
}
