.card--horizontal {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
    padding: var(--spacing-medium);
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    color: var(--color);
}

.card__image-placeholder {
    width: 100px;
    height: 70px;
    flex-shrink: 0;
    background-color: var(--color-border);
    border-radius: 4px;
}

.card-horizontal__subtitle{
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
    
}