.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    color: var(--color-text);
    text-decoration: none;
}
.card__image {
    width: calc(100% - 32px);
    height: 150px;
    margin: var(--spacing-medium);
}
.card__title {
    padding: 5px 16px;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-bold);
}
.card__date {
    padding: 5px 16px;
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
}


 
