.featured-post {
    display: flex;
    flex-direction: row;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    overflow: hidden;
    color: var(--color-text);
    text-decoration: none;
}
.featured-post__image {
    width: calc(40% 32px);
    height: 150px;
    object-fit: cover;
    margin: var(--spacing-medium);
}

.featured-post__content {
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured-post__date {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
}

.featured-post__title {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-bold);
}

.featured-post__reading-time {
    margin: 0;
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
}

/*
.card--featured {
    flex-direction: row;
}

.card--featured .card__image {
    width: 40%;
    height: auto;
}

.card--featured .card__content {
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card--featured .card__date {
    margin: 0;
    padding: 0;
}

.card--featured .card__title {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-subtitle);
}

.card__reading-time {
    margin: 0;
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
}
