.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid var(--color-border);
  padding: var(--spacing-large);
  border-radius: 8px;
  align-items: flex-start;

}

.form__row {
    display: flex;
    gap: var(--spacing-small);
    width: 100%;
}
