.header {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-medium);
    height: 52px;
    box-sizing: border-box;
}
gabrielle
.header__left {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
}
.header__logo {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-bold);
    letter-spacing: 3px;
}
.header__menu {
    background: none;
    border: none;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-text);
}
.header__right {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
}

.header__search {
    width: 22px;
    height: 22px;
    background: none;
    border: 2px solid var(--color-text);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    position: relative;
}
.header__search::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 2px;
    background-color: var(--color-text);
    transform: rotate(45deg);
    right: -6px;
    bottom: -3px;
}
.header__profile {
    width: 24px;
    height: 24px;
    background: none;
    border: 2px solid var(--color-text);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    position: relative;
}
.header__profile::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 13px;
    border: 2px solid var(--color-text);
    border-radius: 15px 15px 0 0;
    left: -3px;
    top: 20px;
    background-color: var(--color-white);
}
