.navigation {
    display: flex;
    gap: var(--spacing-medium);
}

.navigation a {
    color:var(--color-text);
    text-decoration: none;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-normal);
}