/*Ju*/
:root {
  --fundo-padrao: #f4f4f4;
  --cor-texto: #333333;
}

/*Bia*/ 
:root {
  --color-background:#f4f4f4;
  --color-white: #ffffff;
  --color-text: #111111;
  --color-text-secondary: #6b6b6b;
  --color-border: #c1c0c0;
  --color-button-primary: #3e7e7c;
  --color-button-secondary: #ffffff;

  --font-family: Arial, sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-size-title: 32px;
  --font-size-subtitle: 24px;
  --font-size-text: 16px;
  --font-size-small: 14px;


  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;

}